In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from datetime import datetime as dt

In [2]:
# weather file local Network
#df = pd.read_csv(r"H:\R&D\Research\Commerce local\Data Analytics\Flux pi√©tons\AFP WTS Tableau report\Data\last_wts_weather.csv", sep=",")

In [3]:
df = pd.read_csv(r"C:\Users\hub_stag6\Documents\Data\last_wts_weather.csv", sep=",")
df.shape

(21814, 13)

In [4]:
# Number the days
df.weather_date.nunique()

373

In [5]:
# Split the 'Date' variable 
df[['date', 'time']] = df.weather_date.str.split(" ", expand = True)
# DateTime variable to sort the dataFrame by date
df['date'] =  pd.to_datetime(df['date'], format="%d-%m-%y")
# Sort DataFrame by zone and date
df=df.sort_values(by=['zone_id','date'])

In [6]:
df.columns
df = df.reindex(columns=['date', 'zone_id', 'weather_date', 'main', 'temperature',
       'temperaturefeelslike', 'temperaturemin', 'temperaturemax', 'pressure',
       'humidity', 'visibility', 'windspeed', 'rain', 'snow' ])

## Drop duplicate rows

In [7]:
# Drop duplicate rows in place
df.drop_duplicates(inplace=True)
df = df.reset_index(drop=True)
df.shape

(13579, 14)

## Average numerical variables per zone and day

In [8]:
# Numerical variables
col_float= [col for col in df if df[col].dtype in [np.dtype(t) for t in ('int', 'float')]]
col_float

['temperature',
 'temperaturefeelslike',
 'temperaturemin',
 'temperaturemax',
 'pressure',
 'humidity',
 'visibility',
 'windspeed',
 'rain',
 'snow']

In [9]:
for col in [col for col in df if df[col].dtype in [np.dtype(t) for t in ('int', 'float')]]:
        #if type(df[col]) is float:
        a= df.groupby(['date'])
        df[col]=a[col].transform('mean')
        print('done')

done
done
done
done
done
done
done
done
done
done

In [10]:
# Weather per day
del df['zone_id']
# Drop duplicate rows in place
df.drop_duplicates(inplace=True)
df = df.reset_index(drop=True)
df.shape

(389, 13)

In [11]:
df.weather_date.nunique()

373

In [12]:
df.weather_date.value_counts().sort_values(ascending=False)

07-12-22 00:00:00    2
25-12-21 00:00:00    2
24-09-22 00:00:00    2
19-06-22 00:00:00    2
17-09-22 00:00:00    2
                    ..
29-11-22 00:00:00    1
01-12-22 00:00:00    1
02-12-22 00:00:00    1
04-12-22 00:00:00    1
05-06-22 00:00:00    1
Name: weather_date, Length: 373, dtype: int64

In [13]:
#Example
a=df[df['weather_date']=='23-12-21 00:00:00']
a

,date,weather_date,main,temperature,temperaturefeelslike,temperaturemin,temperaturemax,pressure,humidity,visibility,windspeed,rain,snow
22,2021-12-23,23-12-21 00:00:00,clear,2.684444,0.878611,-2.256111,7.954444,1011.338056,87.291944,7291.666667,5.54,0.164444,0.0
382,2021-12-23,23-12-21 00:00:00,clouds-overcast,2.684444,0.878611,-2.256111,7.954444,1011.338056,87.291944,7291.666667,5.54,0.164444,0.0

In [14]:
df.main.value_counts()

clear                   196
clouds-scattered         83
clouds-overcast          75
rain-light               16
disturbed-visibility     14
drizzle-light             3
rain-extreme              2
Name: main, dtype: int64

In [15]:
# Delete duplicate rows based on specific columns 
# Delete the row if it is duplicted in all the variables except in the main variable,
# keep last duplicate row
df = df.drop_duplicates(subset=['date', 'weather_date', 'temperature', 'temperaturefeelslike',
       'temperaturemin', 'temperaturemax', 'pressure', 'humidity',
       'visibility', 'windspeed', 'rain', 'snow'], keep='last')

In [16]:
#Example
a=df[df['weather_date']=='23-12-21 00:00:00']
a

,date,weather_date,main,temperature,temperaturefeelslike,temperaturemin,temperaturemax,pressure,humidity,visibility,windspeed,rain,snow
382,2021-12-23,23-12-21 00:00:00,clouds-overcast,2.684444,0.878611,-2.256111,7.954444,1011.338056,87.291944,7291.666667,5.54,0.164444,0.0

In [17]:
df.shape

(373, 13)

In [18]:
# Sort DataFrame by date
df=df.sort_values(by=['date'], ascending=True)
df = df.reset_index(drop=True)

In [19]:
#Save the DataFrame 
df.to_csv("./assets/weather_daily.csv")